## Variables y Operadores
1. Variables
2. Operadores Aritmeticos
3. Operadores Relacionales
4. Operadores Logicos

In [3]:
# Variables
var1 = 4
var2 = var1
var3 = 5.6
var4 = "hola"
var5 = 'Hola Alumnos Smart'
var6 = 'C'
var7 = "65"

In [4]:
var1

4

In [5]:
var2

4

In [6]:
var3

5.6

In [7]:
var4

'hola'

In [8]:
var5

'Hola Alumnos Smart'

In [9]:
var6

'C'

In [11]:
print(var1, var2, var3, var4, var5, var6, var7)

4 4 5.6 hola Hola Alumnos Smart C 65

In [12]:
print("El valor de la Primer avariables: ", var1)

El valor de la Primer avariables:  4

In [14]:
print("Hola como estas " + "Tocayo?")

Hola como estas Tocayo?

In [17]:
print("El valor de la variables: " + str (var3))

El valor de la variables: 5.6

In [18]:
print("El vaor de la bvariables es: ", var3)

El vaor de la bvariables es:  5.6

# Operadores Aritmeticos

In [20]:
# suma (+)
valor_1 = 5
valor_2 = 10
suma = valor_1 + valor_2

In [23]:
print ("La suma es:", suma)

La suma es: 15

In [24]:
print("La suma es: " + str(suma))

La suma es: 15

In [25]:
# Resta (-)
valor_1 = 5
valor_2 = 10
resta = valor_1 - valor_2

In [26]:
print("La resta es: ", resta)

La resta es:  -5

In [27]:
# Multiplicación (*)

valor_1 = 10
valor_2 = 50

multi = valor_1 * valor_2

In [28]:
print("La Maultiplicacion es: ", multi)

La Maultiplicacion es:  500

In [29]:
# División 
valor_1 = 1
valor_2 = 5
division = valor_1 / valor_2

In [30]:
print("La División es: ", division)

La División es:  0.2

In [32]:
# División Entera
valor_1 = 1
valor_2 = 5
division_entera = valor_1 // valor_2

division_entera

0

In [33]:
# Potencia
valor_1 =  5
valor_2 = 2
potencia =  valor_1 ** valor_2

In [34]:
print("La potecia es: ", potencia)

La potecia es:  25

In [35]:
# Modulo

valor_1 = 11
valor_2 = 2

modulo = valor_1 % valor_2

In [36]:
print("El modulo es: ", modulo)

El modulo es:  1

## Expresiones

In [39]:
valor_1 = 10
valor_2 = 20
valor_3 = 4.5

resultado = valor_1 + valor_2 * valor_3

In [40]:
print("El resultado es: ", resultado)

El resultado es:  100.0

In [41]:
valor_1 = 10
valor_2 = 20
valor_3 = 4.5

resultado = valor_1 / valor_2 * valor_3

In [42]:
print("El resultado es: ", resultado)

El resultado es:  2.25

## Operadores Relacionales 
| Operador | Descripción |   
|---| --- |
| < | Menor que |
| > | Mayor que |
| < = | Menor o igual que |
| >= | Mayor o igual que |
| == | Igual que |
| != | Diferente que

In [43]:
resultado = 4 > 3
resultado

True

In [44]:
print ( "El resultado es: ", resultado)

El resultado es:  True

In [45]:
valor_1 = 10
valor_2 = 3
resultado = valor_2 + 3 > valor_1

In [46]:
print ( "El resultado es: ", resultado)

El resultado es:  False

In [47]:
valor_1 != valor_2

True

## Operadores Logicos

| Operador | Descripción |   
|---| --- |
| not | NOT |
| AND | Y |
| OR | O |

In [1]:
resultado = not ( 3 * 2 + 3 >= 4) and (3== 3 or 5 != 3) and True or False
resultado

False