## Variables y Operadores
1. Variables
2. Operadores Aritmeticos
3. Operadores Relacionales
4. Operadores Logicos

In [3]:
# Variables
var1 = 4
var2 = var1
var3 = 5.6
var4 = "hola"
var5 = 'Hola Alumnos Smart'
var6 = 'C'
var7 = "65"

In [4]:
var1

4

In [5]:
var2

4

In [6]:
var3

5.6

In [7]:
var4

'hola'

In [8]:
var5

'Hola Alumnos Smart'

In [9]:
var6

'C'

In [11]:
print(var1, var2, var3, var4, var5, var6, var7)

4 4 5.6 hola Hola Alumnos Smart C 65

In [12]:
print("El valor de la Primer avariables: ", var1)

El valor de la Primer avariables:  4

In [14]:
print("Hola como estas " + "Tocayo?")

Hola como estas Tocayo?

In [17]:
print("El valor de la variables: " + str (var3))

El valor de la variables: 5.6

In [18]:
print("El vaor de la bvariables es: ", var3)

El vaor de la bvariables es:  5.6

# Operadores Aritmeticos

In [20]:
# suma (+)
valor_1 = 5
valor_2 = 10
suma = valor_1 + valor_2

In [23]:
print ("La suma es:", suma)

La suma es: 15

In [24]:
print("La suma es: " + str(suma))

La suma es: 15

In [ ]:
# Resta (-)
valor_1 = 5
valor_2 = 10
resta = valor_1 - valor_2